{% extends 'layout/userindex.html' %}

{% load static %}
{% block headingblock %}

<section class="hero-section">
    <h2 class="hidden">Slider Section</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="rev_slider_wrapper">
                    <div class="fullwidth_slider rev_slider" data-arrows="false" data-height="750">
                        <ul>		
                            <li data-transition="fade">			

                                <img src="{% static 'userassets/img/cover-1.png' %}" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption WhiteTtl tp-resizeme" 
                                    data-x="center" data-hoffset="0" 
                                    data-y="middle" data-voffset="-32" 
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
                                    data-transform_out="opacity:0;s:500;s:500;"
                                    data-start="1300"
                                    data-responsive_offset="on"> Deer Homes
                                </div>
                                
                                <div class="tp-caption WhiteTtlp tp-resizeme" 
                                    data-x="center" data-hoffset="0" 
                                    data-y="middle" data-voffset="32" 
                                    data-whitespace="pre"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
                                    data-transform_out="opacity:0;s:500;s:500;"
                                    data-start="1700" 
                                    data-responsive_offset="on">DeerHomes Interior Designer & Architecture Firm
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block user %}
<section class="content-section">
    <div class="container">
        <div class="section-header">
            <h1>Blogs</h1>           
        </div>
        
        <div class="row">
            <div class="col-md-9 col-content">
                <div class="blog-posts-list">
                    {% for blog in blogs %}
                    <div class="blog-post">
                        <div class="item-cover">
                            <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                    <a href="{% url 'blog_detail' blog.id %}">
                                <img src="{{ MEDIA_URL }}blogimages/{{blog.blog_image }}" alt="blog post">
                            </a>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                                </div>
                            
                        </div>

                        <h2 class="post-title"><a href="{% url 'blog_detail' blog.id %}">{{blog.name|truncatewords:4}}</a></h2>

                        <ul class="post-meta clean-list">
                            <li>{{blog.created_at}}</li>
                        </ul>
                        <div class="p-4">
                            <p class="description">{{ blog.description|slice:":100" }}{% if blog.description|length > 100 %}...{% endif %}</p>
                        </div>
                        <a class="btn grey" href="{% url 'blog_detail' blog.id %}">read more</a>                      
                    </div>
                    {% endfor %}
                </div>

                {% comment %} 
                <ul class="page-numbers">
                    <li><a class="prev page-numbers" href="#">prev</a></li>
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#">2</a></li>
                    <li><a class="page-numbers" href="#">3</a></li>
                    <li><a class="page-numbers" href="#">4</a></li>
                    <li><a class="page-numbers" href="#">5</a></li>
                    <li><a class="page-numbers" href="#">6</a></li>
                    <li><a class="next page-numbers" href="#">next</a></li>
                </ul> 
                {% endcomment %}
            </div>

            <div class="col-md-3 col-sidebar">
                <div class="sidebar">
                    <div class="row isotope">
                        
                        
                        <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                            <div class="widget widget_categories">
                                <h4 class="widget-title">Project Categories</h4>                                
                                <ul>
                                    <li><a href="{% url 'project' %}">All</a></li>
                                    {% for category in categories%}
                                        <li><a href="{% url 'project' %}?category={{ category.id }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                            <div class="widget widget_recent_posts">
                                <h4 class="widget-title">Recent Posts</h4>
                                <div class="widget-body">
                                    <ul class="recent-posts clean-list">
                                        {% for blog in recent_blogs %}
                                        <li>
                                            <h4><a href="{% url 'blog_detail' blog.id %}">{{blog.name}}</a></h4>
                                            <ul class="post-meta">
                                                <li>{{blog.created_at}}</li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</section>



{% endblock %}