{% extends 'layout/userindex.html' %}

{% load static %}
{% block headingblock %}

<section class="sub-banner_section">
    <figure class="banner-backgroundimage mb-0">
        <img src="{%static 'userassets/images/project-backgroundimage.jpg' %}" alt="" class="img-fluid">
    </figure>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="banner_content" data-aos="fade-up">
                <h1>About Us</h1>
                <p class="text-size-14 text-white mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariat cepteur sint o ccaecat cupidatat.
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-4 col-sm-12 col-12 d-lg-block d-none">
        </div>
    </div>
</div>
</section>
{% endblock %}


{% block user %}
<!-- About Us -->
<section class="about-section">
    <figure class="about-backgroundimage mb-0">
        <img src="{% static 'userassets/images/about-backgroundimage.png' %}" alt="" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row position-relative">
            <figure class="about-image mb-0" data-aos="fade-left">
                <img src="{% static 'userassets/images/about-image.jpg' %}" alt="" class="img-fluid">
            </figure>
            <div class="col-lg-5 col-md-2 col-sm-12 col-12 d-md-block d-none">
            </div>
            <div class="col-lg-7 col-md-10 col-sm-12 col-12">
                <div class="about_content" data-aos="fade-right">
                    <h2>About Us</h2>
                    <p class="text-size-16"> Deerhomes® is a team of highly skilled professionals including Architects, Interior designers and Engineers sharing a deep passion for excellence, blending
                        creativity with technical precision. We believe we can make life better for our clients though design. A well-designed space enhances the quality of everyday
                        living. Be it a home or a commercial space, - circulation patterns, and creation of a comfortable micro environment is the result of careful planning, creative
                        thinking, and flawless execution. By creating sustainable building modules using materials with a reduced carbon footprint, we try to create a better building
                        system for the future generations. Top noch design and planning ensures that our projects create a better quality of life for our clients while efficiency in
                        design is translated into cost savings in all the major projects of deerhomes. Our versatile design philosophy encompasses various architectural styles of the
                        past to present so our porƞolio ranges from a contemporary minimalistic design approach to classical renaissance styles and traditional kerala architecture
                        styles. Our project management team lead by experienced project managers, engineers and contractors ensure that the concepts and ideas originating from
                        the drawing table is converted into built space flawlessly within the scheduled time. Deerhomes was founded in 1999 by Deepak Somarajan an architectural
                        engineer from 97th batch of NIT Calicut, his wife Parvathy Vijayan a structural engineer from 2004 batch TKM Engineering college later joined the company
                        as its director. </p>                
                    <div class="badge c-black" id="badge">
                        <span class="badge__char"> </span>
                        <span class="badge__char">D</span>
                        <span class="badge__char">E</span>
                        <span class="badge__char">E</span>
                        <span class="badge__char">R</span>
                        <span class="badge__char"> </span>
                        <span class="badge__char">H</span>
                        <span class="badge__char">O</span>
                        <span class="badge__char">M</span>
                        <span class="badge__char">E</span>
                        <span class="badge__char">S</span>
                        <span class="mid-circle"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<section class="team-section">
    <figure class="right-lamp mb-0">
        <img src="{% static 'userassets/images/right-lamp.png' %}" alt="" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="team_content">
                    <h2 class="text-white">Meet Our Professional Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="team-box">
                    <figure class="image mb-0">
                        <img src="{% static 'userassets/images/team-image1.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="imagecircle mb-0">
                        <img src="{% static 'userassets/images/team-imagecircle.png' %}" alt="" class="img-fluid">
                    </figure>
                    <div class="image-content">
                        <figure class="content-bg mb-0">
                            <img src="{% static 'userassets/images/team-contentbg.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h6>Angela Clark</h6>
                            <span class="text-size-14">Interior Designer</span>
                            <ul class="list-unstyled mb-0 p-0 position-relative">
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="team-box">
                    <figure class="image mb-0">
                        <img src="{% static 'userassets/images/team-image2.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="imagecircle mb-0">
                        <img src="{% static 'userassets/images/team-imagecircle.png' %}" alt="" class="img-fluid">
                    </figure>
                    <div class="image-content">
                        <figure class="content-bg mb-0">
                            <img src="{% static 'userassets/images/team-contentbg.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h6>Steve Smith</h6>
                            <span class="text-size-14">Interior Designer</span>
                            <ul class="list-unstyled mb-0 p-0 position-relative">
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="team-box">
                    <figure class="image mb-0">
                        <img src="{% static 'userassets/images/team-image3.png' %}" alt="">
                    </figure>
                    <figure class="imagecircle mb-0">
                        <img src="{% static 'userassets/images/team-imagecircle.png' %}" alt="" class="img-fluid">
                    </figure>
                    <div class="image-content">
                        <figure class="content-bg mb-0">
                            <img src="{% static 'userassets/images/team-contentbg.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h6>Maya White</h6>
                            <span class="text-size-14">Interior Designer</span>
                            <ul class="list-unstyled mb-0 p-0 position-relative">
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="team-box">
                    <figure class="image mb-0">
                        <img src="{% static 'userassets/images/team-image4.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="imagecircle mb-0">
                        <img src="{% static 'userassets/images/team-imagecircle.png' %}" alt="" class="img-fluid">
                    </figure>
                    <div class="image-content">
                        <figure class="content-bg mb-0">
                            <img src="{% static 'userassets/images/team-contentbg.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h6>David Rodrigo</h6>
                            <span class="text-size-14">Interior Designer</span>
                            <ul class="list-unstyled mb-0 p-0 position-relative">
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review -->
<section class="review-section"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 p-0">
                <div class="review-box">
                    <figure class="icon">
                        <img src="{% static 'userassets/images/contract-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h5>Why work with Us</h5>
                    <p class="text-size-14 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 p-0">
                <div class="review-box">
                    <figure class="icon">
                        <img src="{% static 'userassets/images/handshake-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h5>offices in all City</h5>
                    <p class="text-size-14 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 p-0">
                <div class="review-box review-box3">
                    <figure class="icon">
                        <img src="{% static 'userassets/images/chat-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h5>client results</h5>
                    <p class="text-size-14 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial -->
<section class="testimonial-section abouttestimonial-section"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 order-md-1 order-3">
                <div class="testimonial_wrapper position-relative" data-aos="fade-right">
                    <figure class="testimonial-image1 mb-0">
                        <img src="{% static 'userassets/images/testimonial-image1.png' %}" alt="" class="img-fluid">
                    </figure>                    
                    <figure class="testimonial-image2 mb-0">
                        <img src="{% static 'userassets/images/testimonial-image2.png' %}" alt="" class="img-fluid">
                    </figure>                    
                    <figure class="testimonial-image3 mb-0">
                        <img src="{% static 'userassets/images/testimonial-image3.png' %}" alt="" class="img-fluid">
                    </figure>                    
                    <figure class="testimonial-image4 mb-0">
                        <img src="{% static 'userassets/images/testimonial-image4.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="testimonial-image5 mb-0">
                        <img src="{% static 'userassets/images/testimonial-image5.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 order-md-2 order-2">
                <div class="testimonial_carousel position-relative">
                    <figure class="testimonial-line mb-0">
                        <img src="{% static 'userassets/images/testimonial-line.png' %}" alt="" class="img-fluid">
                    </figure> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-md-3 order-1">                
                <div class="owl-carousel owl-theme">   
                    <div class="item">
                        <div class="testimonial_content">
                            <h2>People Love Us</h2>
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                            <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliquat enim ad minim veniam quis nostrud exercitation.
                            </p>
                            <div class="content">
                                <figure class="testimonial-contentimage mb-0">
                                    <img src="{% static 'userassets/images/testimonial-contentimage.png' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="designation-outer">
                                    <span>Ann Peterson</span>
                                    <p class="text-size-16 mb-0">Senior Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial_content">
                            <h2>People Love Us</h2>
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                            <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliquat enim ad minim veniam quis nostrud exercitation.
                            </p>
                            <div class="content">
                                <figure class="testimonial-contentimage mb-0">
                                    <img src="{% static 'userassets/images/testimonial-contentimage.png' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="designation-outer">
                                    <span>Ann Peterson</span>
                                    <p class="text-size-16 mb-0">Senior Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial_content">
                            <h2>People Love Us</h2>
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                            <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliquat enim ad minim veniam quis nostrud exercitation.
                            </p>
                            <div class="content">
                                <figure class="testimonial-contentimage mb-0">
                                    <img src="{% static 'userassets/images/testimonial-contentimage.png' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="designation-outer">
                                    <span>Ann Peterson</span>
                                    <p class="text-size-16 mb-0">Senior Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial_content">
                            <h2>People Love Us</h2>
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                                <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                            <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliquat enim ad minim veniam quis nostrud exercitation.
                            </p>
                            <div class="content">
                                <figure class="testimonial-contentimage mb-0">
                                    <img src="{% static 'userassets/images/testimonial-contentimage.png' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="designation-outer">
                                    <span>Ann Peterson</span>
                                    <p class="text-size-16 mb-0">Senior Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose -->
<section class="choose-section">
    <div class="container">
        <div class="row position-relative">
            <figure class="choose-image mb-0">
                <img src="{% static 'userassets/images/choose-image.jpg' %}" alt="" class="img-fluid">
            </figure>
            <h4 class="mb-0">Why Choose Us</h4>
            <figure class="choose-arrow mb-0">
                <img src="{% static 'userassets/images/choose-arrow.png' %}" alt="" class="img-fluid">
            </figure>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="choose_content" data-aos="fade-left">
                    <h2>Why Choose Us</h2>
                    <p class="text-size-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi.</p>
                    <ul class="list-unstyled mb-0">
                        <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ut enim ad minim veniam, quis nostrud exercitation.</li>
                        <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ullamco laboris nisi ut aliquip ex ea.</li>
                        <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Duis aute irure dolor in reprehenderit in voluptate.</li>
                        <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Velit esse cillum dolore eu fugiat nulla.</li>
                        <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Excepteur sint occaecat cupidatat non proident.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-2 col-sm-12 col-12 d-lg-block d-none">
            </div>
        </div>
    </div>
</section>
{% endblock %}

