{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Deer Homes</title>
    <link rel="shortcut icon" href="{% static 'userassets/img/logo2.png' %}" type="image/x-icon" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static  'userassets/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static  'userassets/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static  'userassets/css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static  'userassets/rs-plugin/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'userassets/rs-plugin/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static  'userassets/rs-plugin/css/navigation.css' %}">		
</head>
<body>
	<style>
		#headerLogo {
			max-height: 140px !important;
			max-width: 50% !important;
		}

	</style>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v3">
			<div class="top-header">
                <div class="container">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i><a href="tel:+919496269082" target="_blank">+91 94962 69082</a></li>
                        <li><a href="mailto:deerhomes@gmail.com"><i class="fa fa-envelope"></i>deerhomes@gmail.com</a></li>
                    </ul>
                
                	<ul class="socials">                        
                        <li><a href="https://wa.me/+919496269082?text=Hi"  target="_blank"><i class="fa fa-whatsapp"></i></a></li>                        
                        <li><a href="https://www.facebook.com/deerhomes"  target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/deer-homes-kollam"  target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://www.instagram.com/deerhomeskollam"  target="_blank"><i class="fa fa-instagram"></i></a></li>
                	</ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="{% url 'mainindex' %}">  <img id="headerLogo" src="{% static 'userassets/img/logo2.png' %}"   alt="cart cover"> </a>
            		</div>
				   	
				   	<nav class="main-nav">
					    <ul class="menu">
					        <li class="menu-item">
					            <a href="{% url 'mainindex' %}">Home</a>
					        </li>
							<li class="menu-item">
								{% if request.path == '/' %} 
					            <a href="#about">About</a>								 
								{% else %}
					            <a href="{% url 'about' %}">About</a>
								{% endif %}
					        </li>
							<li class="menu-item">
								{% if request.path == '/' %} 
								<a href="#service">Service</a>								 
								{% else %}
					            <a href="{% url 'service' %}">Services</a>
								{% endif %}
					        </li>							
							<li class="menu-item">
								{% if request.path == '/' %} 
								<a href="#project">Projects</a>								 
								{% else %}
					            <a href="{% url 'project' %}">Projects</a>
								{% endif %}
					        </li>							
							<li class="menu-item">
								{% if request.path == '/' %} 
								<a href="#blogs">Blogs</a>								 
								{% else %}
					            <a href="{% url 'blog' %}">Blogs</a>
								{% endif %}
					        </li>							
							<li class="menu-item">
								{% if request.path == '/' %} 
								<a href="#contact">Contact Us</a>
								{% else %}
					            <a href="{% url 'contact' %}">Contact Us</a>
								{% endif %}
					        </li>					    
					    </ul>
					</nav>

			   		
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			{% comment %} <section class="hero-section">
				<h2 class="hidden">Slider Section</h2>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper">
								<div class="fullwidth_slider rev_slider" data-height="750">
									<ul>		
										<li data-transition="fade">			

											
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/004-1.png" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<!-- <img src="{% static 'https://deerhomes.com/wp-content/uploads/2024/08/Enscape_2024-07-31-13-18-261.jpg' %}" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
										<li data-transition="fade">	
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/20221104_152732-scaled.jpeg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											
											<!-- <img src="{% static 'https://deerhomes.com/wp-content/uploads/2024/08/elevation1-scaled.jpg' %}" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
										<li data-transition="fade">			
											
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/eet.jpeg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<!-- <img src="{% static 'https://deerhomes.com/wp-content/uploads/2024/08/R11-scaled.jpg' %}" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> {% endcomment %}


            
{% block headingblock %}

{% endblock %}
            {% block user %}

            {% endblock %}

			
		</div>

	<div class="whatsapp">
    <a id="totop" style="margin-bottom:70px; background-color: #FF0000;" href="#top"></a>
    
    <a class="wht" href="https://wa.me/+919496269082?text=Hi" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="50" height="50" class="whatsapp-icon">
                    <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" fill="#2DA62A"/>
                </svg>
    </a>
</div>

<style>
    /* General styles for the WhatsApp button */
    .whatsapp {
        position: fixed;              /* Keeps the element fixed in position */
        margin: 20px;                 /* Adds margin around the element */
        bottom: 20px;                 /* Distance from the bottom of the viewport */
        right: 10px;                  /* Distance from the right of the viewport */
        z-index: 9999999 !important; /* Ensures it stays on top of other elements */
    }

    /* Styles for the WhatsApp link */
    .wht {
        display: flex;                 /* Enables flexbox layout */
        align-items: center;          /* Centers items vertically */
        justify-content: flex-end;    /* Aligns items to the right */
    }

    /* Styles for the WhatsApp icon */
    .whatsapp-icon {
        margin-left: auto;            /* Pushes the SVG to the right within the anchor */
        width: 50px;                  /* Sets the width of the SVG */
        height: 50px;                 /* Sets the height of the SVG */
        animation: bounce 1s ease infinite; /* Applies the bounce animation */
    }

    /* Keyframes for the bounce animation */
    @keyframes bounce {
        from, to {
            transform: translateY(0); /* Original position */
        }
        50% {
            transform: translateY(-15px); /* Move up */
        }
    }
</style>


	
		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>

											
											<a href="https://maps.app.goo.gl/mriC6uPrRSJu5Z9f7" target="_blank">

												<p>Uliyakovil East, Kollam,</p>
												<p>Kerala 691008</p>
											</a>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
											<p><a href="tel:+919496269082" target="_blank">+91 94962 69082</a></p>

	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:deerhomes@gmail.com">deerhomes@gmail.com</a></p>
	                            		</li>
										<li>
	                            			<span class="title">Follow Us:</span>
											<ul class="contact-info clean-list">
												<li>
													<ul class="socials clean-list">             
														<li><a href="https://wa.me/+919496269082?text=Hi"  target="_blank"><i class="fa fa-whatsapp"></i></a></li>                        
														<li><a href="https://www.facebook.com/deerhomes"  target="_blank"><i class="fa fa-facebook-square"></i></a></li>
														<li><a href="https://www.linkedin.com/company/deer-homes-kollam"  target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
														<li><a href="https://www.instagram.com/deerhomeskollam"  target="_blank"><i class="fa fa-instagram"></i></a></li>
													</ul>
												</li>
											</ul>
										</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
						<div class="col-md-9 col-sm-6 col-xs-12 isotope-item">
							<div id="mapp">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.8064693294987!2d76.60123107406558!3d8.897577291034256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05fcfc527874c3%3A0xc1b1943ead77e327!2sDeerhomes%20-%20Architects%20and%20Interior%20Designers!5e0!3m2!1sen!2sin!4v1727935867687!5m2!1sen!2sin" 
								width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<p class="alignleft align-left copyright">
						Copyright © 2024 Deer Homes. All Rights Reserved.
					</p>

					<p class="alignright align-right copyright">
						by <a href="{% url 'mainindex' %}">Deer homes</a>
					</p>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="{% static 'userassets/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/nouislider.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
	<!-- rs-plugin extensions -->
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.video.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.migration.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/rs-plugin/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<!-- //rs-plugin extensions -->
	<script type="text/javascript" src="{% static 'userassets/js/imagesloaded.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/isotope.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/slick.js' %}"></script>
	<script type="text/javascript" src="{% static 'userassets/js/options.js' %}"></script>
</body>
</html>