<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Bricks</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">		
</head>
<body>
	<style>
		#headerLogo {
			max-height: 110px !important;
			max-width: 110px !important;
		}

	</style>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v3">
			<div class="top-header">
                <div class="container">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>+1 (800) 456 37 96</li>
                        <li><a href="mailto:info@company.com"><i class="fa fa-envelope"></i>info@company.com</a></li>
                    </ul>
                
                	<ul class="socials">
                		<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
                		<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                		<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                		<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                	</ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">  <img id="headerLogo" src="img/logo2.png"   alt="cart cover"> </a>
            		</div>
				   	
				   	<nav class="main-nav">
					    <ul class="menu">
					        <li class="menu-item">
					            <a href="index.html">Home</a>
					        </li>
							<li class="menu-item">
					            <a href="about.html">About</a>
					        </li>
							<li class="menu-item">
					            <a href="about.html">Services</a>
					        </li>							
							<li class="menu-item">
					            <a href="projects.html">Projects</a>
					        </li>							
							<li class="menu-item">
					            <a href="blog.html">Blogs</a>
					        </li>							
							<li class="menu-item">
					            <a href="contact.html">Contact Us</a>
					        </li>					    
					    </ul>
					</nav>

			   		
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<h2 class="hidden">Slider Section</h2>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper">
								<div class="fullwidth_slider rev_slider" data-height="750">
									<ul>		
										<li data-transition="fade">			

											
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/004-1.png" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<!-- <img src="https://deerhomes.com/wp-content/uploads/2024/08/Enscape_2024-07-31-13-18-261.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
										<li data-transition="fade">	
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/20221104_152732-scaled.jpeg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											
											<!-- <img src="https://deerhomes.com/wp-content/uploads/2024/08/elevation1-scaled.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
										<li data-transition="fade">			
											
											<img src="https://deerhomes.com/wp-content/uploads/2024/01/eet.jpeg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<!-- <img src="https://deerhomes.com/wp-content/uploads/2024/08/R11-scaled.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
	                                            data-transform_out="opacity:0;s:500;s:500;"
	                                            data-start="1300"
												data-responsive_offset="on">Construct your future
											</div>
											
											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="30" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
												data-transform_out="opacity:0;s:500;s:500;"
												data-start="1700" 
												data-responsive_offset="on">As the general contructor, we first create the highest level of trust and integrity with our
	                clients. We value our role in the success of your project.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92"
												data-transform_idle="o:1;"
                                                data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="2000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view more</a>
											</div>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="portfolio-section v3">
				<div class="container">
					<div class="section-header">
						<h5 class="subtitle">Our Portfolio</h5>
						<h2>Latest Projects</h2>
						<span><i></i></span>
						<p>Cras finibus non magna sed varius. Fusce risus eros, dapibus vitae dignissim vel, consequat et dolor. Proin maximus posuere felis a tincidunt. Etiam sit amet ligula eget libero suscipit semper eget ornare magna. Phasellus non est ligula. Nulla auctor neque non tortor.</p>
					</div>

					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="portfolio-box-circle">
								<div class="image">
									<a href="#">
										<img src="https://deerhomes.com/wp-content/uploads/2024/01/28e5a94a-1a8a-423d-8408-4cef37fe14e8.jpg" alt="portfolio box">
									</a>
								</div>
								<h6 class="title"><a href="#">Fullwidth project</a></h6>
								<ul class="categories clean-list">
									<li><a href="#">Construction</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="portfolio-box-circle">
								<div class="image">
									<a href="#">
										<img src="https://deerhomes.com/wp-content/uploads/2024/01/28e5a94a-1a8a-423d-8408-4cef37fe14e8.jpg" alt="portfolio box">
									</a>
								</div>
								<h6 class="title"><a href="#">Project with slider</a></h6>
								<ul class="categories clean-list">
									<li><a href="#">Construction</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="portfolio-box-circle">
								<div class="image">
									<a href="#">
										<img src="https://deerhomes.com/wp-content/uploads/2024/01/28e5a94a-1a8a-423d-8408-4cef37fe14e8.jpg" alt="portfolio box">
									</a>
								</div>
								<h6 class="title"><a href="#">Fullwidth video project</a></h6>
								<ul class="categories clean-list">
									<li><a href="#">Construction</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="portfolio-box-circle">
								<div class="image">
									<a href="#">
										<img src="https://deerhomes.com/wp-content/uploads/2024/01/28e5a94a-1a8a-423d-8408-4cef37fe14e8.jpg" alt="portfolio box">
									</a>
								</div>
								<h6 class="title"><a href="#">gallery project</a></h6>
								<ul class="categories clean-list">
									<li><a href="#">Construction</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section bg">
				<div class="container">
					<div class="features-row">
						<div class="row">
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Medal"></i>
									<h5 class="title">Quality</h5>
									<p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Lightbulb"></i>
									<h5 class="title">Innovation</h5>
									<p class="description">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt magni dolores eos qui ratione voluptatem sequi.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Lifebuoy"></i>
									<h5 class="title">Safety</h5>
									<p class="description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Thumbup"></i>
									<h5 class="title">sustainability</h5>
									<p class="description">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Briefcase"></i>
									<h5 class="title">Partners</h5>
									<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="feature-box">
									<i class="icon icon-Man"></i>
									<h5 class="title">Staff</h5>
									<p class="description">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section v2">
				<div class="container-fluid">
					<div class="row bg-alfa pos-relative">
						<div class="col-md-6 no-padding pos-static">
							<div class="row-bg">
								<img src="https://deerhomes.com/wp-content/uploads/2024/01/cff1d644-d85d-469b-95c6-0d9d7659974d.jpg" alt="features bg">
							</div>
						</div>
						<div class="col-md-6">
							<div class="section-header">
								<h5 class="subtitle">What Makes Us Different</h5>
								<h2>Our Work & Our People</h2>
								<span><i></i></span>
								<p>Building skyscrapers is like building the relationships. Steady construction requires solid and robust foundation as well as prosperous relations are built only on faith and mutual respect. We pay attention to all small details for best results.</p>
							</div>
							
							<div class="row content">
								<div class="col-lg-5 col-lg-offset-1 col-sm-6">
									<div class="video-feature">
										<img src="https://livewp.site/html/bricks/img/video-link-img.jpg" alt="video link">
										<a href="https://www.youtube.com/watch?v=6v2L2UGZJAM" class="video-link"></a>
									</div>
								</div>

								<div class="col-lg-5 col-sm-6">
									<div class="video-feature">
										<img src="https://livewp.site/html/bricks/img/video-link-img.jpg" alt="video link">
										<a href="https://www.youtube.com/watch?v=6v2L2UGZJAM" class="video-link"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section v2">
				<div class="container-fluid no-padding">
					<div class="row row-fit">
						<div class="col-lg-4">
							<div class="feature-post-box">
								<div class="cover">
									<img src="	https://livewp.site/html/bricks/img/feature-post-box.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Building"></i>
										<h4>Building skyscrapers is like building the relationships.</h4>
										<p class="description">Sed dapibus, mi dignissim posuere faucibus, risus turpis ultricies turpis, eu semper metus tortor vulputate erat. Phasellus finibus dictum mi, eget mollis turpis tincidunt vitae. Ut cursus, arcu feugiat laoreet finibus, orci nisl.</p>		
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="feature-post-box">
								<div class="cover">
									<img src="	https://livewp.site/html/bricks/img/feature-post-box.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Briefcase2"></i>
										<h4>Steady construction requires solid and robust foundation.</h4>
										<p class="description">Praesent porta finibus ultricies. In sollicitudin elementum malesuada. Etiam interdum accumsan hendrerit. Aenean finibus vestibulum lectus, nec feugiat sem congue non. In sit amet sodales enim. Vestibulum sollicitudin rutrum.</p>		
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="feature-post-box">
								<div class="cover">
									<img src="	https://livewp.site/html/bricks/img/feature-post-box.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Magnifyingglass"></i>
										<h4> We pay attention to all small details for best results.</h4>
										<p class="description">Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque quis ligula at lacus hendrerit tempor. Sed sit amet viverra ipsum, posuere condimentum ligula. Etiam vel rutrum nulla. Cras sed pulvinar risus, non.</p>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="clients-section v2">
				<div class="container">
					<div class="row clients-list">
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="#"><img class="aligncenter" src="	https://livewp.site/html/bricks/img/partner-logo-3.png" alt="partner logo"></a>
						</div>
					</div>

					<div class="section-header button">
						<h1>Let's make something great together</h1>
						<p>Get in touch with us and send some basic info for a quick quote</p>
						<a href="#" class="btn yellow medium dark-hover">Start a project</a>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>

											
											<a href="https://maps.app.goo.gl/mriC6uPrRSJu5Z9f7" target="_blank">

												<p>Uliyakovil East, Kollam,</p>
												<p>Kerala 691008</p>
											</a>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
											<p><a href="tel:+919496269082" target="_blank">+91 94962 69082</a></p>

	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:deerhomes@gmail.com">deerhomes@gmail.com</a></p>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Follow Us</h4>
								<div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
		                            		<ul class="socials clean-list">
		                            			<li><a href="https://www.facebook.com/deerhomes"  target="_blank"><i class="fa fa-facebook-square"></i></a></li>
		                            			<!-- <li><a href="#"  target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"  target="_blank"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"  target="_blank"><i class="fa fa-google-plus-square"></i></a></li> -->
		                            			<li><a href="https://www.linkedin.com/company/deer-homes-kollam"  target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="https://www.instagram.com/deerhomeskollam"  target="_blank"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<p class="alignleft align-left copyright">
						Copyright © 2024 Deer Homes. All Rights Reserved.
					</p>

					<p class="alignright align-right copyright">
						by <a href="https://kleemgotbay.com/">kleemgotbay.com</a>
					</p>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/nouislider.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- rs-plugin extensions -->
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<!-- //rs-plugin extensions -->
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>