
{% extends 'layout/userindex.html' %}
{% load static %}
{% block headingblock %}

<section class="sub-banner_section">
    <figure class="banner-backgroundimage mb-0">
        <img src="{%static 'userassets/images/project-backgroundimage.jpg' %}" alt="" class="img-fluid">
    </figure>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="banner_content" data-aos="fade-up">
                <h1>Services</h1>
                <p class="text-size-14 text-white mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariat cepteur sint o ccaecat cupidatat.
                </p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-4 col-sm-12 col-12 d-lg-block d-none">
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block user %}
<!-- Residential -->
<section class="servicepage-section">
    <div class="residential-section">
        <figure class="servicepage-background mb-0">
            <img src="static/assets/images/servicepage-background.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service_wrapper">
                        <figure class="servicepage-circularimage mb-0">
                            <img src="static/assets/images/servicepage-circularcontent.png" alt="" class="">
                        </figure>
                        <figure class="servicepage-image mb-0">
                            <img src="static/assets/images/servicepage-residentialimage.jpg" alt="" class="">
                        </figure>
                        <figure class="servicepage-rightborder mb-0">
                            <img src="static/assets/images/servicepage-imagerightborder.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="servicepage-boximage mb-0">
                            <img src="static/assets/images/servicepage-boximage.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service_content" data-aos="fade-right">
                        <h3>Residential Design</h3>
                        <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo sunt in culpa qui officia deserun.</p>
                        <figure class="servicepage-contentimage">
                            <img src="static/assets/images/servicepage-contentimage.png" alt="" class="img-fluid">
                        </figure>
                        <ul class="list-unstyled mb-0">
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ut enim ad minim veniam, quis nostrud exercitation.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ullamco laboris nisi ut aliquip ex ea.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Duis aute irure dolor in reprehenderit in voluptate.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Velit esse cillum dolore eu fugiat nulla.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Restaurant -->
<section class="servicepage-section2">
    <div class="restaurant-section">
        <figure class="servicepage-background mb-0">
            <img src="static/assets/images/servicepage-background.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-md-1 order-2">
                    <div class="service_content" data-aos="fade-right">
                        <h3>Restaurant Design</h3>
                        <p class="text-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip 
                            ex ea commodo sunt in culpa qui officia deserun.</p>
                        <figure class="servicepage-contentimage">
                            <img src="static/assets/images/servicepage-contentimage.png" alt="" class="img-fluid">
                        </figure>
                        <ul class="list-unstyled mb-0">
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ut enim ad minim veniam, quis nostrud exercitation.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Ullamco laboris nisi ut aliquip ex ea.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Duis aute irure dolor in reprehenderit in voluptate.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Velit esse cillum dolore eu fugiat nulla.</li>
                            <li class="text text-size-14"><i class="circle fa-duotone fa-check"></i>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-md-2 order-1">
                    <div class="service_wrapper">
                        <figure class="servicepage-circularimage mb-0">
                            <img src="static/assets/images/servicepage-circularcontent.png" alt="" class="">
                        </figure>
                        <figure class="servicepage-image mb-0">
                            <img src="static/assets/images/servicepage-restaurantimage.jpg" alt="" class="">
                        </figure>
                        <figure class="servicepage-leftborder mb-0">
                            <img src="static/assets/images/servicepage-imageleftborder.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="servicepage-boximage mb-0">
                            <img src="static/assets/images/servicepage-boximage.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->

<!-- Architectural -->

<!-- Lighting -->

{% endblock %}