
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DeerHomes</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'adminassets/images/deerhomes-logo.png' %}">
    <link href="{% static 'adminassets/css/style.css' %}" rel="stylesheet">
    <script href="{% static 'adminassets/js/modernizr-3.6.0.min.js '%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="v-light vertical-nav fix-header fix-sidebar">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/></svg>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- header -->
        <div class="header">
            <div class="nav-header">
                <div class="brand-logo"><a href="index.html"><b><img src="{% static 'adminassets/images/deerhomes-logo.png' %}" alt=""> </b><span class="brand-title">DEER HOMES</span></a>
                </div>
                <div class="nav-control">
                    <div class="hamburger"><span class="line"></span> <span class="line"></span> <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="header-content">
                <div class="header-left">
                    <ul>
                        <li class="icons position-relative"><a href="javascript:void(0)"><i class="icon-magnifier f-s-16"></i></a>
                            <div class="drop-down animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <div class="header-search" id="header-search">
                                        <form action="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div class="input-group-append"><span class="input-group-text"><i class="icon-magnifier"></i></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        
                       
                      
                        <li class="icons"><a href="javascript:void(0)"><i class="mdi mdi-account f-s-20" aria-hidden="true"></i></a>
                            <div class="drop-down dropdown-profile animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <ul>
                                        
                                        
                                        <li><a href="{% url 'changepassword' %}"><i class="fa fa-lock"></i> <span> Password</span></a>
                                        </li>
                                        <li><a href="{% url 'logout' %}"><i class="icon-power"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #/ header -->
        <!-- sidebar -->
        

        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">                  
                    <li><a href="{% url 'dashboard' %}"><i class=" mdi mdi-view-dashboard"></i> <span class="nav-text">Dashboard</span></a></li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-folder"></i> <span class="nav-text">Project</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'projects' %}">Projects</a></li>
                            <li><a href="{% url 'projectcreate' %}">Create Projects</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-folder"></i> <span class="nav-text">Blog</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'blogss' %}">Blogs</a></li>
                            <li><a href="{% url 'createBlogs' %}">Create Blogs</a></li>
                        </ul>
                    </li>
                    {% comment %} <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-folder"></i> <span class="nav-text">Category</span></a>
                        <ul aria-expanded="false">
                            <li><a href="category">Category</a></li>
                            <li><a href="category-create">Create Category</a></li>
                        </ul>
                    </li> {% endcomment %}
                    {% comment %} <li><a href=""><i class="mdi mdi-map"></i> <span class="nav-text">Services</span></a></li>
                    <li><a href=""><i class="mdi mdi-information"></i> <span class="nav-text">About us</span></a></li> {% endcomment %}
                    <li><a href="{% url 'contactus' %}"><i class="mdi mdi-phone"></i> <span class="nav-text">Contact us</span></a></li>
                </ul>
            </div>
        </div>
        <!-- #/ sidebar -->
        <!-- content body -->
      {% block content%}

       {% endblock %}
        <!-- #/ content body -->
        <!-- footer -->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; <a href="{% url 'dashboard' %}">Deerhomes</a> 2024</p>
            </div>
        </div>
        <!-- #/ footer -->
    </div>
<!-- Common JS -->


<script type="text/javascript" src="{% static 'adminassets/plugins/common/common.min.js' %}"></script>
<!-- Custom script -->
<script  type="text/javascript" src="{% static 'adminassets/js/custom.min.js' %}"></script>
<!-- Chartjs chart -->
<script src="{% static 'adminassets/plugins/chartjs/Chart.bundle.js' %}"></script>
<!-- Custom dashboard script -->
<script src="{% static 'adminassets/js/dashboard-1.js' %}"></script>

<script src="{% static 'adminassets/plugins/tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminassets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminassets/plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>

</body>

</html>